asgiref==3.8.1
certifi==2025.1.31
cffi==2.0.0
charset-normalizer==3.4.1
cryptography==44.0.2
dj-rest-auth==7.0.1
Django==4.2.21
django-allauth==65.3.0
django-cors-headers==4.7.0
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dnspython==2.7.0
drf-yasg==1.21.7
git-filter-repo==2.47.0
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
packaging==24.2
phonenumbers==8.13.26
pillow==11.2.1
pycparser==3.0
PyJWT==2.10.1
python-decouple==3.8
python-dotenv==1.0.1
pytz==2025.1
pyyaml==6.0.3
requests==2.32.3
setuptools==80.3.0
sqlparse==0.5.5
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.2.0
urllib3==2.3.0
whitenoise==6.8.2